@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poller+One&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  font-family: "Saira", sans-serif;
  font-style: normal;
}
header {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 80%;
  text-align: center;
  height: 70px;
  background-color: lightblue;
}
header > h1 {
  width: 350px;
  color: rgb(105, 10, 105);
}
.top-nav {
  display: flex;
  flex-direction: row;
  float: top;
  width: 100%;
  background-color: lightblue;
}
.top-nav > a {
  text-decoration: none;
  font-size: 30px;
  width: 33.3%;
  height: 100%;
  align-items: center;
  color: blue;
}
.top-nav > a:hover {
  background-color: blueviolet;
  color: white;
}
.active {
  background-color: blueviolet;
  color: white;
}
aside {
  float: left;
  height: 100%;
  background-color: rgb(133, 82, 6);
  width: 300px;
  border-top: solid 1px white;
  width: 20%;
}
.aside-nav {
  width: 100%;
}
.aside-nav > div {
  height: 50px;
  border-bottom: solid 1px white;
  padding: 10px;
  color: white;
  font-size: 20px;
}
.aside-nav > div:hover {
  background-color: rgb(3, 226, 41);
  color: blue;
}
main {
  float: left;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background: linear-gradient(to right, rgb(231, 122, 231), rgb(223, 158, 60));
}
.search {
  height: 100px;
  text-align: center;
}
.search > form {
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.search > form > input {
  width: 800px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  outline: solid 1px grey;
}
.search > form > button {
  width: 100px;
  height: 50px;
  border-radius: 12px;
  outline: solid 1px grey;
  border: none;
}
.search > form > button:hover {
  background-color: rgb(3, 226, 41);
  color: blue;
}
.items > h2 {
  color: purple;
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding: 0;
}
#products-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
  color: black;
}
.product-card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}
.product-card h3 {
  font-size: 13px;
  margin: 0;
  height: 20px;
  overflow: hidden;
}

.product-card p {
  font-weight: bold;
  color: #333;
}
.product-card div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.product-card button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background: #eee;
  border-radius: 5px;
}

.product-card button:hover {
  background: #ddd;
}

.quantity-input {
  width: 50px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.add-to-cart {
  background: #00aaff;
  color: rgb(27, 20, 20);
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.add-to-cart:hover {
  background: #008ecc;
}
.product-card {
  border: 1px solid #eee;
}
footer {
  clear: left;
  height: 100px;
  background-color: rgb(56, 55, 55);
  color: white;
  text-align: center;
  font-size: 20px;
}
